@page "/"
@using Shared.Handlers
@using Shared.Models
@using SmartHomeMAUIApp.ViewModels
@inject HomeViewModel viewModel;

<div class="container">
    <h1 class="headline"> DEVICES</h1>

    <div class="devices">
        @if (Devices != null)
        {
            @foreach (var device in Devices) 
            {
                <h3 class="device_id">@device.DeviceId</h3>
                <p>@device.DeviceName</p>
                <p>@device.ConnectionState</p>
                <p>@device.DeviceState</p>
                <p>@device.DeviceType</p>
            }
        }
        else
        {
            <div>
                <p>Loading...</p>
            </div>
        }
    </div>
</div>


@code {
    private IEnumerable<LampDevice> Devices = [];

    protected override async Task OnInitializedAsync()
    {
        Devices = await viewModel.GetDevicesAsync();
        viewModel.Timer = new Timer(async _ => await SetDevicesAsync(), null, 0, viewModel.TimerInterval);
    }

    private async Task SetDevicesAsync()
    {
        Devices = await viewModel.GetDevicesAsync();
        await InvokeAsync(StateHasChanged);
    }
}