@page "/"
@using Shared.Handlers
@using Shared.Models
@using SmartHomeMAUIApp.ViewModels
@inject HomeViewModel viewModel

<h1>DEVICES</h1>

<div>
    <h1 class="headline"> DEVICES</h1>

    <div class="devices">
        @if (Devices != null)
        {
            @foreach (var device in Devices)
            {
                <h3 class="device_id">@device.DeviceId</h3>
                <p>@device.DeviceName</p>
                <p>@device.ConnectionState</p>
                <p>@device.DeviceState</p>
                <p>@device.DeviceType</p>
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

@code {
    private IEnumerable<LampDevice> Devices = [];

    protected override async Task OnInitializedAsync()
    {
        if (viewModel.IotHubInstance.IsRegistryInitialized)
        {
            Devices = await viewModel.GetDevicesAsync();
            viewModel.Timer = new Timer(async _ => await SetDevicesAsync(), null, 0, viewModel.TimerInterval);
        }
        else
        {
            Console.WriteLine("RegistryManager is not initialized.");
        }
    }

    private async Task SetDevicesAsync()
    {
        if (viewModel.IotHubInstance.IsRegistryInitialized)
        {
            Devices = await viewModel.GetDevicesAsync();
            await InvokeAsync(StateHasChanged);
        }
    }
}
